In [4]:
import pandas as pd
import numpy as np
from datetime import datetime
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import os
import sys, urllib, json
import time
import csv

In [5]:
host = '127.0.0.1'
port = 3306
db = 'soda_data_repo'
user = 'root'
password = '19940301'
# engine = create_engine(str(r"mysql+mysqldb://%s:" + '%s' + "@%s/%s") % (user, password, host, db))

conn = pymysql.connect(host=host,port=port,user=user,password=password,database = db)
cursor = conn.cursor()

In [6]:
def query(cur, sql, args):
    cur.execute(sql, args)
    results = cur.fetchall()
    return results

In [11]:
csv_list = []
def gci(filepath):
#遍历filepath下所有文件，包括子目录
    files = os.listdir(filepath)
    for fi in files:
        fi_d = os.path.join(filepath,fi)
        if os.path.isdir(fi_d):
            gci(fi_d)
        else:
            file_path = os.path.join(filepath,fi_d)
            if file_path.endswith('csv'):
                #print(file_path)
                csv_list.append(file_path)
    return csv_list
csv_list = gci('/usr/soda_data_set/subway/1801')
print(len(csv_list))
print(csv_list)

31
['/usr/soda_data_set/subway/1801/s180122.csv', '/usr/soda_data_set/subway/1801/s180106.csv', '/usr/soda_data_set/subway/1801/s180118.csv', '/usr/soda_data_set/subway/1801/s180129.csv', '/usr/soda_data_set/subway/1801/s180105.csv', '/usr/soda_data_set/subway/1801/s180101.csv', '/usr/soda_data_set/subway/1801/s180108.csv', '/usr/soda_data_set/subway/1801/s180126.csv', '/usr/soda_data_set/subway/1801/s180130.csv', '/usr/soda_data_set/subway/1801/s180116.csv', '/usr/soda_data_set/subway/1801/s180119.csv', '/usr/soda_data_set/subway/1801/s180115.csv', '/usr/soda_data_set/subway/1801/s180107.csv', '/usr/soda_data_set/subway/1801/s180109.csv', '/usr/soda_data_set/subway/1801/s180125.csv', '/usr/soda_data_set/subway/1801/s180104.csv', '/usr/soda_data_set/subway/1801/s180128.csv', '/usr/soda_data_set/subway/1801/s180117.csv', '/usr/soda_data_set/subway/1801/s180114.csv', '/usr/soda_data_set/subway/1801/s180111.csv', '/usr/soda_data_set/subway/1801/s180102.csv', '/usr/soda_data_set/subway/1801/s180113.csv', '/usr/soda_data_set/subway/1801/s180120.csv', '/usr/soda_data_set/subway/1801/s180103.csv', '/usr/soda_data_set/subway/1801/s180131.csv', '/usr/soda_data_set/subway/1801/s180112.csv', '/usr/soda_data_set/subway/1801/s180127.csv', '/usr/soda_data_set/subway/1801/s180124.csv', '/usr/soda_data_set/subway/1801/s180121.csv', '/usr/soda_data_set/subway/1801/s180110.csv', '/usr/soda_data_set/subway/1801/s180123.csv']

In [22]:
for csv_path in csv_list:
    start_time = time.time()
    #print(csv_path)
    csv_tb_name = 'soda_' + str(os.path.basename(csv_path).split('.')[0]) + '_tb'
    print('开始查表咯：', csv_tb_name)
    
    sql =  'SELECT card_id, count(*) total_num, count(distinct(line)) line_num, \
    count(case when  week>=0 and week<=4 then 1 else null end) weekday_num, \
    count(case when  is_discount = 0 then 1 else null end) discount_num \
    FROM '+csv_tb_name+' GROUP BY card_id;'
    
    print(sql)
        
    results = query(cursor,sql, args=())
    print(results[:10])
    
    end_time = time.time()
    print(end_time - start_time)

开始查表咯： soda_s180122_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180122_tb GROUP BY card_id;
((10193738, 1, 1, 1, 1), (10299348, 1, 1, 1, 1), (10312443, 1, 1, 1, 0), (10465088, 1, 1, 1, 1), (10600938, 1, 1, 1, 0), (10607074, 1, 1, 1, 1), (10645356, 1, 1, 1, 0), (10661988, 1, 1, 1, 1), (10666717, 1, 1, 1, 0), (10672347, 1, 1, 1, 0))
267.5461177825928
开始查表咯： soda_s180106_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180106_tb GROUP BY card_id;
((10137045, 1, 1, 0, 1), (10360446, 1, 1, 0, 0), (10511314, 1, 1, 0, 0), (10583589, 1, 1, 0, 1), (10589813, 1, 1, 0, 1), (10624175, 1, 1, 0, 1), (10632392, 1, 1, 0, 1), (10673949, 1, 1, 0, 1), (10694502, 1, 1, 0, 1), (10764332, 1, 1, 0, 1))
197.15043878555298
开始查表咯： soda_s180118_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180118_tb GROUP BY card_id;
((10143866, 1, 1, 1, 0), (10184928, 1, 1, 1, 0), (10414082, 1, 1, 1, 1), (10467584, 1, 1, 1, 0), (10505048, 1, 1, 1, 1), (10565842, 1, 1, 1, 0), (10609884, 1, 1, 1, 0), (10623543, 1, 1, 1, 0), (10636037, 1, 1, 1, 0), (10686154, 1, 1, 1, 0))
305.65340971946716
开始查表咯： soda_s180129_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180129_tb GROUP BY card_id;
((10571858, 1, 1, 1, 0), (10601307, 1, 1, 1, 0), (10690328, 1, 1, 1, 1), (10765221, 1, 1, 1, 1), (10777683, 1, 1, 1, 0), (10794647, 1, 1, 1, 0), (10799628, 1, 1, 1, 0), (10840293, 1, 1, 1, 0), (10898635, 1, 1, 1, 1), (10899339, 1, 1, 1, 1))
241.76540517807007
开始查表咯： soda_s180105_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180105_tb GROUP BY card_id;
((10184041, 1, 1, 0, 0), (10461616, 1, 1, 0, 0), (10485543, 1, 1, 0, 0), (10579632, 1, 1, 0, 0), (10590971, 1, 1, 0, 0), (10632289, 1, 1, 0, 1), (10638947, 1, 1, 0, 0), (10688850, 1, 1, 0, 0), (10711192, 1, 1, 0, 0), (10715221, 1, 1, 0, 0))
318.27870774269104
开始查表咯： soda_s180101_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180101_tb GROUP BY card_id;
((10305517, 1, 1, 1, 1), (10404371, 1, 1, 1, 0), (10475262, 1, 1, 1, 0), (10653197, 1, 1, 1, 0), (10839850, 1, 1, 1, 0), (10845781, 1, 1, 1, 0), (10867218, 1, 1, 1, 0), (10879635, 1, 1, 1, 1), (10907769, 1, 1, 1, 1), (10924235, 1, 1, 1, 1))
186.41803789138794
开始查表咯： soda_s180108_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180108_tb GROUP BY card_id;
((10376081, 1, 1, 1, 1), (10543457, 1, 1, 1, 0), (10605120, 1, 1, 1, 0), (10700573, 1, 1, 1, 0), (10784916, 1, 1, 1, 0), (10832604, 1, 1, 1, 0), (10864125, 1, 1, 1, 0), (10864875, 1, 1, 1, 0), (10887802, 1, 1, 1, 0), (10916205, 1, 1, 1, 0))
297.76560950279236
开始查表咯： soda_s180126_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180126_tb GROUP BY card_id;
((10184221, 1, 1, 0, 0), (10243573, 1, 1, 0, 0), (10281577, 1, 1, 0, 0), (10399312, 1, 1, 0, 0), (10447109, 1, 1, 0, 0), (10572033, 1, 1, 0, 1), (10722899, 1, 1, 0, 0), (10765981, 1, 1, 0, 0), (10803217, 1, 1, 0, 1), (10819666, 1, 1, 0, 1))
251.82015204429626
开始查表咯： soda_s180130_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180130_tb GROUP BY card_id;
((10334488, 1, 1, 1, 0), (10387785, 1, 1, 1, 0), (10462239, 1, 1, 1, 0), (10483123, 1, 1, 1, 1), (10483375, 1, 1, 1, 0), (10483613, 1, 1, 1, 0), (10549580, 1, 1, 1, 1), (10550407, 1, 1, 1, 0), (10559899, 1, 1, 1, 0), (10648940, 1, 1, 1, 0))
257.40819334983826
开始查表咯： soda_s180116_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180116_tb GROUP BY card_id;
((10514412, 1, 1, 1, 0), (10524415, 1, 1, 1, 0), (10526082, 1, 1, 1, 0), (10538240, 1, 1, 1, 0), (10587343, 1, 1, 1, 0), (10599917, 1, 1, 1, 0), (10600162, 1, 1, 1, 0), (10606807, 1, 1, 1, 0), (10609544, 1, 1, 1, 0), (10615172, 1, 1, 1, 0))
323.5330171585083
开始查表咯： soda_s180119_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180119_tb GROUP BY card_id;
((10392389, 1, 1, 0, 0), (10407668, 1, 1, 0, 0), (10412007, 1, 1, 0, 0), (10437459, 1, 1, 0, 1), (10566290, 1, 1, 0, 0), (10657858, 1, 1, 0, 1), (10682478, 1, 1, 0, 0), (10698900, 1, 1, 0, 0), (10723672, 1, 1, 0, 0), (10734486, 1, 1, 0, 1))
305.84176898002625
开始查表咯： soda_s180115_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180115_tb GROUP BY card_id;
((10485735, 1, 1, 1, 0), (10497413, 1, 1, 1, 0), (10502718, 1, 1, 1, 1), (10561534, 1, 1, 1, 1), (10607009, 1, 1, 1, 0), (10619440, 1, 1, 1, 0), (10650754, 1, 1, 1, 1), (10662825, 1, 1, 1, 0), (10710378, 1, 1, 1, 0), (10750068, 1, 1, 1, 0))
289.4730453491211
开始查表咯： soda_s180107_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180107_tb GROUP BY card_id;
((10455547, 1, 1, 1, 1), (10596284, 1, 1, 1, 0), (10820643, 1, 1, 1, 1), (10888616, 1, 1, 1, 1), (10918398, 1, 1, 1, 0), (10990844, 1, 1, 1, 0), (11024396, 1, 1, 1, 0), (11039632, 1, 1, 1, 1), (11042722, 1, 1, 1, 0), (11047937, 1, 1, 1, 0))
144.8423843383789
开始查表咯： soda_s180109_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180109_tb GROUP BY card_id;
((10130143, 1, 1, 1, 0), (10218430, 1, 1, 1, 0), (10375423, 1, 1, 1, 1), (10414527, 1, 1, 1, 0), (10487421, 1, 1, 1, 0), (10494214, 1, 1, 1, 0), (10530794, 1, 1, 1, 0), (10550815, 1, 1, 1, 0), (10580681, 1, 1, 1, 0), (10625569, 1, 1, 1, 0))
348.30888628959656
开始查表咯： soda_s180125_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180125_tb GROUP BY card_id;
((10185989, 1, 1, 1, 0), (10203590, 1, 1, 1, 1), (10398063, 1, 1, 1, 1), (10485857, 1, 1, 1, 0), (10497172, 1, 1, 1, 0), (10502128, 1, 1, 1, 1), (10590495, 1, 1, 1, 0), (10682246, 1, 1, 1, 1), (10714972, 1, 1, 1, 1), (10749674, 1, 1, 1, 0))
229.14815974235535
开始查表咯： soda_s180104_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180104_tb GROUP BY card_id;

((10550076, 1, 1, 1, 0), (10581316, 1, 1, 1, 0), (10586337, 1, 1, 1, 0), (10633720, 1, 1, 1, 0), (10658389, 1, 1, 1, 0), (10707543, 1, 1, 1, 0), (10748387, 1, 1, 1, 0), (10766161, 1, 1, 1, 0), (10767456, 1, 1, 1, 0), (10845645, 1, 1, 1, 0))
269.1358890533447
开始查表咯： soda_s180128_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180128_tb GROUP BY card_id;
((10270376, 1, 1, 1, 0), (10428282, 1, 1, 1, 0), (10468827, 1, 1, 1, 1), (10617418, 1, 1, 1, 1), (10648744, 1, 1, 1, 1), (10666948, 1, 1, 1, 1), (10686285, 1, 1, 1, 0), (10724128, 1, 1, 1, 0), (10857922, 1, 1, 1, 1), (10880419, 1, 1, 1, 1))
129.33808946609497
开始查表咯： soda_s180117_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180117_tb GROUP BY card_id;
((10406207, 1, 1, 1, 1), (10564940, 1, 1, 1, 0), (10582770, 1, 1, 1, 1), (10699460, 1, 1, 1, 0), (10751233, 1, 1, 1, 1), (10760527, 1, 1, 1, 0), (10796040, 1, 1, 1, 0), (10802242, 1, 1, 1, 0), (10888939, 1, 1, 1, 0), (10892121, 1, 1, 1, 1))
290.9431412220001
开始查表咯： soda_s180114_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180114_tb GROUP BY card_id;
((10226254, 1, 1, 1, 0), (10367266, 1, 1, 1, 0), (10428687, 1, 1, 1, 0), (10456342, 1, 1, 1, 1), (10539926, 1, 1, 1, 1), (10558205, 1, 1, 1, 0), (10651270, 1, 1, 1, 1), (10689839, 1, 1, 1, 1), (10763748, 1, 1, 1, 0), (10778901, 1, 1, 1, 0))
170.321298122406
开始查表咯： soda_s180111_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180111_tb GROUP BY card_id;
((10209797, 1, 1, 1, 0), (10571185, 1, 1, 1, 0), (10619452, 1, 1, 1, 0), (10622790, 1, 1, 1, 0), (10689381, 1, 1, 1, 0), (10690804, 1, 1, 1, 0), (10701904, 1, 1, 1, 0), (10707868, 1, 1, 1, 0), (10721486, 1, 1, 1, 0), (10722743, 1, 1, 1, 0))
288.57711696624756
开始查表咯： soda_s180102_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180102_tb GROUP BY card_id;
((10711470, 1, 1, 1, 0), (10780753, 1, 1, 1, 0), (10783583, 1, 1, 1, 0), (10784891, 1, 1, 1, 0), (10839326, 1, 1, 1, 0), (10859770, 1, 1, 1, 0), (10862911, 1, 1, 1, 0), (10878363, 1, 1, 1, 0), (10894933, 1, 1, 1, 0), (10934754, 1, 1, 1, 0))
276.15524673461914
开始查表咯： soda_s180113_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180113_tb GROUP BY card_id;
((10370801, 1, 1, 0, 0), (10458735, 1, 1, 0, 1), (10508787, 1, 1, 0, 0), (10612746, 1, 1, 0, 1), (10640152, 1, 1, 0, 0), (10754072, 1, 1, 0, 1), (10792809, 1, 1, 0, 1), (10801032, 1, 1, 0, 0), (10887598, 1, 1, 0, 1), (10897960, 1, 1, 0, 0))
192.25153946876526
开始查表咯： soda_s180120_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180120_tb GROUP BY card_id;
((10334311, 1, 1, 0, 1), (10663904, 1, 1, 0, 1), (10733244, 1, 1, 0, 0), (10763250, 1, 1, 0, 1), (10794792, 1, 1, 0, 1), (10960494, 1, 1, 0, 1), (10981226, 1, 1, 0, 0), (11015271, 1, 1, 0, 0), (11018539, 1, 1, 0, 0), (11027446, 1, 1, 0, 1))
182.8054814338684
开始查表咯： soda_s180103_tb
SELECT card_id, count(*) total_num, count(distinct(line)) line_num,     count(case when  week>=0 and week<=4 then 1 else null end) weekday_num,     count(case when  is_discount = 0 then 1 else null end) discount_num     FROM soda_s180103_tb GROUP BY card_id;

KeyboardInterrupt: